@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NDC Oslo SASS Demo</title>
    @Styles.Render("~/bundles/styles")
</head>
<body>
    <header>SASS, TypeScript and CoffeeScript demos</header>
    <section>
        @RenderBody()
    </section>
    <footer>@@dylanbeattie / NDC Oslo 2015</footer>

    @Scripts.Render("~/bundles/scripts/examples")
    @Scripts.Render("~/bundles/scripts/jquery")

    @RenderSection("scripts", false)

</body>
</html>
